*.dylib
*.o
*.lo
*.la
*.al
.libs
*.so
*.so.[0-9]*
*.a
*.pyc
*.pyo
*.rej
*.opendb
*.db
*.user
*~
.\#*
.*.swp
.DS_store
\#*\#

build/
vc2015/calico-config/Debug
vc2015/calico-config/Release
vc2015/calico-config/x64
vc2015/Debug
vc2015/Release
vc2015/.vs
vc2015/x64